@model IEnumerable<OnlineRecritmentSystem.Models.JobSeeker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@using (Html.BeginForm())
{

<h3>
    <select class="form-control" id="exampleFormControlSelect1">
        <option value="Designation">Designation</option>
        <option value="Experience">Experience</option>
        <option value="Profession">Profession</option>
        <option value="Skill">Skill</option>
        <option value="Location">Location</option>
    </select>
    <input type="text" name="div" placeholder="Experience" />
    <input type="text" name="skill" placeholder="skill"/>
    <input type="text" name="loc" placeholder="PreferedJoblocation" />
    <input type="text" name="Profession" placeholder="Position" />
    
    <input type="submit" value="Search" class="btn btn-info" />
</h3>
}*@

@*@using (Html.BeginForm()
{
    <h3>
        <input type="text" name="skill" />
        <input type="submit" value="Search by skill" class="btn btn-info" />
    </h3>
}*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.photo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredJobLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateofapplication)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredJobLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateofapplication)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Resume)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
            @Html.ActionLink("Details", "Details", new { id = item.Name }) |
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Name })*@
        </td>
    </tr>
    }

</table>
