@model IEnumerable<OnlineRecritmentSystem.Models.JobSeeker>

@{
    ViewBag.Title = "ReqApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReqApplication</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="EmployerLogin/ReqApplication" method="post">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.photo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredJobLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofapplication)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <label name="Name">@item.Name</label>
            </td>
            <td>
                <label name="Emailid">@item.Emailid</label>
            </td>
            <td>
                <label name="@item.MobileNo">@item.MobileNo</label>
            </td>
            <td>
                <label name="@item.Location">@item.Location</label>
            </td>
            @*<td>
            <label name="@item.photo">@item.photo</label>
        </td>*@
            <td>
                <label name="@item.Position">@item.Position</label>
            </td>
            <td>
                <label name="@item.Experience">@item.Experience</label>
            </td>
            <td>
                <label name="@item.PreferredJobLocation">@item.PreferredJobLocation</label>
            </td>
            <td>
                <label name="@item.Skills">@item.Skills</label>
            </td>
            <td>
                <label name="@item.Dateofapplication">@item.Dateofapplication</label>
            </td>
            @*<td>
            <label name="@item.Resume">@item.Resume</label>
        </td>*@


            <td>
                <select name=@item.Status>
                    <option value="Status">@item.Status</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </td>
            
            <td>
                @Html.ActionLink("Save", "Index", "msg")@*<button class="btn btn-primary">Save</button>*@
            </td>
        </tr>
        }
    </table>
   
</form>